<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlanJuden.MvcReportViewer" version="1.0.9" targetFramework="net45" />
  <package id="AlanJuden.MvcReportViewer.NetCore" version="1.0.9" targetFramework="net45" />
  <package id="bootbox" version="4.3.0" targetFramework="net45" />
  <package id="bootstrap" version="3.3.4" targetFramework="net45" />
  <package id="dotNetReport" version="1.5.7" targetFramework="net45" />
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jQuery.BlockUI" version="2.70" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.0" targetFramework="net45" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net45" />
  <package id="Knockout-Sortable" version="0.11.0" targetFramework="net45" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.VS2015.WinForms" version="12.0.2.2402" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net45" />
  <package id="MvcReportViewer" version="0.8.3" targetFramework="net45" />
  <package id="ReportViewerForMvc" version="1.0.1" targetFramework="net45" />
  <package id="toastr" version="2.1.1" targetFramework="net45" />
</packages>